<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= book.number %>
  </p>

  <p>
    <strong>About:</strong>
    <%= book.about %>
  </p>

</div>
